body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div.app {
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  border: 3px dashed orange;
}

header h1 {
  font-style: italic;
}

.highlight {
  color: orange;
}

.unhighlighted {
  color: blue;
}
